*~
*.jl.cov
*.jl.*.cov
*.jl.mem
Manifest.toml
*docs/build
*.scss
*.css
*style.jl

RP_gross.csv

RP_klein.csv

test/timeseries/1.csv

test/timeseries/2.csv

test/timeseries/3.csv

test/timeseries/test_time_series_lorenz_standard_N_10000_multivariate.csv

test/timeseries/test_time_series_roessler_N_10000_multivariate.csv

test/timeseries/4.csv
